celery
django==5.1
django-admin-sortable2
django-cors-headers
django-environ
django-filter
django-redis
djangorestframework==3.15.2
envparse
gunicorn
ipython
Pillow
pip-tools
psycopg2-binary
pyaes
pycryptodome
redis==5.0.8
requests
unidecode